/* .mat-elevation-z8{
    border: 1px solid gray;
    width: auto;
    height: auto;
    padding: 10px;
  }
  .Spacer
  {
    flex:1 1 auto;
  }
  a{
    display: inline;
    color: black;
    margin: 10px;
    text-decoration: none;
  }
  body
  {
    border: 1pxsolid gray;
    width: auto;
    height: 420px;
    padding: 10px;
    background-color: white;
  }
  footer
  {
    height: 10px;
    text-align: center;
    bottom: 0%;} */

.main{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  outline: 1px solid red;
}
header{
  height: 10vh;
  background-color:#27379b ;
  color: white;
  width: 100%;
}

.Spacer
  {
    flex:1 1 auto;
  }

a{
  color: white;
}
  
footer{
  background-color: #27379b;
  color: white;
  text-align: center;
}