.main {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

header {
  height: 10vh;
  background-color: #27379b;
  color: white;
  width: 100%;
  display: flex;
  align-items: center;
}

.icon{
  margin-left: 0.5rem;
}

a {
  color: white;
}

.nav-links {
  margin-left: auto;
  display: flex;
}

footer {
  background-color: #27379b;
  color: white;
  text-align: center;
  height: 5vh;
  bottom: 0;
  left: 0;
  right: 0;

}