<div class="container">
    <h1>Welcome to the Admin Page</h1>
    <br>
    <h2>Enter Flight Details to add the flight</h2>
    <br>
    <form [formGroup]="form" (ngSubmit)="addFlight()">
        <div class="form-group">
            <label for="flight_id">Flight ID</label>
            <input type="text" formControlName="flight_id" class="form-control" placeholder="Enter flight id">
        </div>
        <div class="form-group">
            <label for="flight_cmp">Flight Company</label>
            <input type="text" formControlName="flight_cmp" class="form-control" placeholder="Enter flight company">
        </div>
        <div class="form-group">
            <label for="source">Source</label>
            <input type="text" formControlName="source" class="form-control" placeholder="Enter flight source">
        </div>
        <div class="form-group">
            <label for="destination">Destination</label>
            <input type="text" formControlName="destination" class="form-control"
                placeholder="Enter flight destination">
        </div>
        <div class="form-group">
            <label for="departure_time">Departure Time</label>
            <input type="text" formControlName="departure_time" class="form-control"
                placeholder="Enter departure time">
        </div>
        <div class="form-group">
            <label for="landing_time">Landing Time</label>
            <input type="text" formControlName="landing_time" class="form-control" placeholder="Enter landing time">
        </div>
        <div class="form-group">
            <label for="business_seats">Number of business seats</label>
            <input type="number" formControlName="business_seats" class="form-control" placeholder="Enter landing time">
        </div>
        <div class="form-group">
            <label for="economy_seats">Number of economy seats</label>
            <input type="number" formControlName="economy_seats" class="form-control" placeholder="Enter landing time">
        </div>
        <div class="form-group">
            <label for="business_price">Business Seat Price</label>
            <input type="number" formControlName="business_price" class="form-control" placeholder="Enter landing time">
        </div>
        <div class="form-group">
            <label for="economy_price">Economy Seat Price</label>
            <input type="number" formControlName="economy_price" class="form-control" placeholder="Enter landing time">
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>
    </form>
</div>


    
